<footer class="footer">
  <div class="social">
    <ul>
      <li><a href="https://github.com/skiddhubbard" target="blank"><i class="fa fa-github-alt fa-2x" aria-hidden="true" id=social-icon></i></a></li>
      <li><a href="https://twitter.com/skiddhubbard" target="blank"><i class="fa fa-twitter fa-2x" aria-hidden="true" id=social-icon></i></a></li>
      <li><a href="https://www.instagram.com/skiddhubbard/" target="blank"><i class="fa fa-instagram fa-2x" aria-hidden="true" id=social-icon></i></a></li>
    </ul>
  </div>
</footer>
