<section id="contact-link">
  <p id="contact-header">ready to make something?</p>
  <form action="https://formspree.io/sarahjkidd@gmail.com" method="post">
    <input id="name" type="text" name="name" placeholder="name">
    <input id="email" type="email" name="email" placeholder="email address"><br>
    <textarea id="message" type="text" name="message" rows="3" placeholder="a little info about your project"></textarea><br>
    <div id="button"><input id="submit" type="submit" value="Let's Create"></div>
  </form>
</section>

<footer class="footer">
  <div class="social">
    <ul>
      <li><a href="https://github.com/skiddhubbard" target="blank"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/skiddhubbard" target="blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/skiddhubbard/" target="blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</footer>
