<header>
  <nav>
    <a href="http://sarahkiddhubbard.com"><img id="logo" src="/assets/img/sk-logo-large.png"/></a>
    <a href="http://sarahkiddhubbard.com"><img id="logo-mobile" src="/assets/img/sk-logo-small.png"/></a>
    <ul>
      <li class="nav-home"><a href="http://sarahkiddhubbard.com">Home</a></li>
      <li class="nav-work"><a href="http://sarahkiddhubbard.com/work">Work</a></li>
      <li class="nav-about"><a href="http://sarahkiddhubbard.com/about">About</a></li>
      <li class="nav-contact"><a href="#contact-link">Contact</a></li>
    </ul>
  </nav>
</header>
