/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/***MOBILE STYLES***/


body {
 margin: 0px;
}

h1 {
 font-family: 'Montserrat', sans-serif;
 font-size: 1em;
 font-weight: 500;
 text-transform: uppercase;
 color: #333333;
}

h2 {
 font-family: 'Montserrat', sans-serif;
 font-size: 0.8em;
 font-weight: 500;
 text-transform: uppercase;
 color: #333333;
}

p {
 font-family: 'Playfair Display', serif;
 font-size: 1em;
 color: #333333;
}

a {
 text-decoration: none;
 color: #333333;
}

nav li {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

/***Header***/

header {
 background-color: white;
 height: 80px;
 position: fixed;
 right: 0;
 left: 0;
 z-index: 999;
}

#logo {
  display: none;
}

#logo-mobile {
  width: 50px;
  height: auto;
  float: left;
  padding: 15px 0px;
  object-fit: scale-down;
}

nav {
  overflow: auto;
  width: 90%;
  max-width: 600px;
  margin: auto;
}

ul {
  list-style: none;
  width: 200px;
  float: right;
  padding: 30px 0px 0px 0px;
  margin: 0px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
}

nav li {
  float: left;
}

.hover-text {
  display: none;
}

/***Hero Image***/

#computer-image {
  width: 100%;
  object-fit: scale-down;
  padding: 120px 0px 0px;
}

#tagline {
  padding: 40px 0px;
  text-align: center;
  width: 95%;
  margin: auto;
}

/***Work Page***/

.work {
 overflow: auto;
 background-color: #FBF5F4;
 margin: 0px;
}

#work-header {
  width: 60%;
  text-align: center;
  margin: 30px auto;
}

.work-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  padding-bottom: 80%;
  opacity: .9;
}

#work-1 {
  background-image: url('/assets/img/roast-thumbnail-2.jpg');
  margin: 0px auto;
}

#work-2 {
  background-image: url('/assets/img/unplugged-thumbnail-2.jpg');
  margin: 7% auto 10%;
}

.main-work {
  width: 90%;
  margin: auto;
}

.main-work p {
  text-align: center;
}

.main-work .col-1 {
  border: none;
  clear: left;
}

.section-work {
  overflow: auto;
  padding-bottom: 10%;
  border-bottom: solid 1px #333333;
  margin-bottom: 10%;
}

.title-work {
  border: solid 4px #e6b4ac;
  margin: 3% 0px 10%;
}

.title-work h1 {
  width: 100%;
  text-align: center;
  margin: 10px auto 0px;
}

.title-work h2 {
  width: 100%;
  text-align: center;
  margin: 0px auto 10px;
}


.work-description a {
  text-decoration: underline;
}

.more-button {
   width: 150px;
   border: solid 4px #e6b4ac;
   margin: 10% auto 3%;
   text-align: center;
   padding: 10px;
}

/***Detail Page***/

.main-detail {
  width: 90%;
  margin: auto;
}

.title {
  border: solid 4px #e6b4ac;
  margin: 3% 0px 5%;
}

.title h1 {
  width: 100%;
  text-align: center;
  margin: 10px auto 0px;
}

.title h2 {
  width: 100%;
  text-align: center;
  margin: 0px auto 10px;
}

.larger {
  width: 100%;
  object-fit: cover;
  margin: 3% 0px;
}

.main-detail p {
  text-align: center;
}

.responsive {
  width: 100%;
  object-fit: scale-down;
  margin: 3% 0px;
}

.site-button {
  width: 150px;
  border: solid 4px #e6b4ac;
  margin: 3% auto 10%;
  text-align: center;
  padding: 10px;
}

.site-description a {
  text-decoration: underline;
}

/***About Page***/

.wrapper-about {
  width: 100%;
  overflow: auto;
  background-color: #FBF5F4;
  margin-top: 5%;
  padding: 10% 0px 15%;
}

.main-about {
  width: 70%;
  margin: auto;
}

.main-about a {
  text-decoration: underline;
}

.sarah {
  width: 100%;
  object-fit: scale-down;
  margin-top: 10%;
}

#about-image {
  width: 100%;
  object-fit: scale-down;
}

.about-text {
  width: 85%;
  font-size: 0.9em;
  margin: auto;
}

.about-text h1 {
  text-align: center;
}

/***Contact***/

#contact-link {
  clear: both;
}

#contact-header {
  width: 60%;
  text-align: center;
  margin: 25px auto;
}

form {
  width: 70%;
  padding-right: 7px;
  margin: auto;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

input {
  font-family: 'Playfair Display', serif;
  font-size: 0.8em;
  font-style: italic;
  color: #999999;
  line-height: 3em;
  padding: 0px 0px 0px 5px;
  border: 1px solid #cfcfcf;
  margin: 10px 0px;
}

#name {
  width: 100%;
}

#email {
  width: 100%;
}

#message {
  width: 100%;
  font-family: 'Playfair Display', serif;
  font-size: 0.8em;
  font-style: italic;
  color: #999999;
  line-height: 3em;
  padding: 0px 0px 0px 5px;
  border-color: #cfcfcf;
  margin: 10px 0px;
}

#submit {
  width: 150px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  padding: 0px;
  border: solid 4px #e6b4ac;
  margin: 10px auto;
  background-color: white;
  cursor: pointer;
}

#button {
  width: 150px;
  margin: auto;
}

#contact-link {
  overflow: auto;
  margin: 5% 0px;
}

.contact-text h1 {
 width: 60%;
 text-align: center;
 margin: 5% auto 2px;
}

.contact-text h2 {
 width: 60%;
 text-align: center;
 margin: 0px auto 5px;
}

.social ul {
 width: 116px;
 float: none;
 margin: 0px auto 10%;
 padding: 0px;
 overflow: auto;
}

.social li {
  font-size: 14px;
}

.fa-github-alt {
 margin: 0px 20px 0px 0px;
}

.fa-instagram {
  margin: 0px 0px 0px 20px;
}

/***Footer***/

.footer {
 clear: both;
}

/***TABLET STYLES***/


  @media (min-width: 768px) {

    h1 {
      font-size: 1.2em;
    }

    h2 {
      font-size: 1em;
    }

    p {
      font-size: 1.2em;
    }

 /***Header***/

    header {
      height: 106px;
    }

    #logo {
      display: block;
      width: 150px;
      padding: 30px 0px;
      object-fit: scale-down;
      float: left;
    }

    #logo-mobile {
      display: none;
    }

    nav ul {
      width: 250px;
      padding: 50px 0px 0px 0px;
    }

    li {
      font-size: 20px;
    }

 /***Hero Image***/

    #computer-image {
      padding-top: 106px;
    }

    #tagline {
      padding: 15px 0px 30px;
    }

 /***Work Page***/

    #work-header {
      text-align: left;
      margin: 7% 0px 5% 7%;
    }

    .work-image {
      width: 40%;
      padding-bottom: 40%;
      float: left;
    }

    #work-1 {
      margin: 0px 3% 7% 7%;
    }

    #work-2 {
      margin: 0px 7% 7% 3%;
    }

/***Detail Page***/

    .main-detail p {
      font-size: 1em;
    }

/***About Page***/
    .wrapper-about {
      padding: 2% 0px;
    }

    .main-about {
      width: 80%;
    }

    .main-about p {
      font-size: 0.8em;
    }

    .main-about h1 {
      font-size: 1em;
    }

    .main-about h2 {
      font-size: 0.8em;
    }

    .main-about .col-1 {
      width: 40%;
      margin: 7% 0px 7% 5%;
      padding-right: 5%;
      float: left;
      border: none;
    }

    .main-about .col-2 {
      width: 40%;
      margin: 7% 5% 7% 5%;
      float: left;
    }

    .sarah {
      width: 100%;
      object-fit: scale-down;
      margin-top: 0px;
    }

/***Contact***/

    .social ul {
      width: 129px;
    }

    .social li {
      font-size: 16px;
    }
  }

/***DESKTOP STYLES***/

  @media (min-width: 950px) {

    h1 {
      font-size: 1em;
    }

    h2 {
      font-size: 0.8em;
    }

    p {
      font-size: 1em;
    }

 /***Header***/

    header {
      height: 157px;
    }

    #logo {
      width: 250px;
      padding: 40px 0px;
    }

    nav {
      width: 75%;
      max-width: none;
    }

    nav ul {
      width: 325px;
      padding-top: 60px;
    }

    nav li {
      font-size: 20px;
    }

 /***Hero Image***/

    #computer-image {
      padding: 157px 0px 5% 0px;
    }

    #tagline {
      padding: 10px 0px;
      font-size: 1.2em;
    }

 /***Work Page***/

    .work {
      margin-top: 7%;
    }

    .main-work p {
      font-size: 1em;
    }

    .title-work h1 {
      font-size: 1em;
    }

    .title-work h2 {
      font-size: 0.8em;
    }

    .section-work {
      padding-bottom: 2%;
      margin-bottom: 2%;
    }

    .work-description {
      width: 100%;
    }

    .more-button {
      font-size: 1em;
    }

/***Detail Page***/

    .col-1 {
      width: 35%;
      margin: 7% 0px 7% 8%;
      padding-right: 7%;
      float: left;
      border-right: solid 1px #333333;
    }

    .col-2 {
      width: 35%;
      margin: 7% 8% 7% 6%;
      float: left;
    }

    .title {
      margin-top: 0px;
    }

    .title h1 {
      font-size: 1em;
    }

    .title h2 {
      font-size: 0.8em;
    }

    .larger {
      margin-top: 0px;
    }

    .site-button {
      font-size: 1em;
    }


/***About Page***/

    .main-about p {
      font-size: 1em;
    }

    .main-about h1 {
      font-size: 1em;
    }

    .main-about h2 {
      font-size: 0.8em;
    }


/***Contact***/

    #contact-header {
      font-size: 1.2em;
    }

    #name {
    width: 47%;
    font-size: 1em;
    float: left;
    margin: 15px 0px;
    }

    #email {
    width: 47%;
    font-size: 1em;
    margin: 15px -7px 15px 0px;
    float: right;
    }

    #message {
    clear: both;
    font-size: 1em;
    margin: 15px 0px 25px;
    }

    .social ul {
      margin-top: -30px;
    }
  }

  /***HOVER***/

  @media (min-width: 1025px) {

    .nav {
    	display: inline-block;
    	position: relative;
    	padding-bottom: 5px;
    }

    .nav:after {
    	content: '';
    	display: block;
    	margin: auto;
    	height: 4px;
    	width: 0px;
    	background: transparent;
    	transition: width .5s ease, background-color .5s ease;
    }

    .nav:hover:after {
    	width: 100%;
    	background: #e6b4ac;
    }
    //
    // nav li a:hover {
    //   padding-bottom: 5px;
    //   border-bottom: solid 4px #e6b4ac;
    //   -moz-transition: width .3s ease;
    //   -webkit-transition: width .3s ease;
    //   transition: width .3s ease;
    // }

    .social li a:hover {
      color: #e6b4ac;
      -moz-transition: all .2s;
      -webkit-transition: all .2s;
      transition: all .2s;
    }

    .more-button:hover {
      background-color: #e6b4ac;
      -moz-transition: all .3s;
      -webkit-transition: all .3s;
      transition: all .3s;
    }

    .site-button:hover {
      background-color: #e6b4ac;
      -moz-transition: all .3s;
      -webkit-transition: all .3s;
      transition: all .3s;
    }

    #submit:hover {
      background-color: #e6b4ac;
      -moz-transition: all .3s;
      -webkit-transition: all .3s;
      transition: all .3s;
    }

    .work-image {
      position: relative;
    }

    .work-image:after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      opacity: 0;
      background: rgba(0,0,0,.8);
      -moz-transition: all .3s;
      -webkit-transition: all .3s;
      transition: all .3s;
      top: 0;
      left: 0;
      position: absolute;
    }

    .work-image:hover:after {
      opacity: 0.9;
    }

    .hover-text {
      display: none;
      width: 100%;
      position: absolute;
      top: 47%;
      margin: auto;
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 36px;
      text-transform: uppercase;
      color: white;
      text-align: center;
    }

    .work-image:hover h1{
      display: block;
      z-index: 99;
      -moz-transition: all .3s;
      -webkit-transition: all .3s;
      transition: all .3s;
    }
  }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
