/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/***Custom Styles***/

/***Home***/

body {
  margin: 0px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  font-weight: 400;
  margin: 0px;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0px;
  text-align: center;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0px;
}

p {
  font-family: 'Open Sans', sans-serif;
}

li {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

a {
  color: black;
  margin: 0px;
  text-decoration: none;
}

.frontpage {
  background-image: url(../assets/img/sarah-photo-mobile.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-background-size:cover
}

header {
  margin: auto;
  overflow: auto;
  padding-top: 15px;
  top: 15px;
  width: 90%;
}

header h3 {
  line-height: 1;
  margin: 0px;
}

.name span {
  font-size: 0.8em;
}

.name {
  float: left;
}

.menu {
  float: right;
}

.overlay {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  height: 0%;
  left: 0;
  position: fixed;
  overflow-y: hidden;
  top: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 1;
}

.overlay-content {
  margin-top: 0px;
  padding: 0px;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.overlay-content ul {
  list-style-type: none;
  padding: 0px;
}

.overlay-content li {
  padding: 5px 0px;
}

.overlay-content a {
  color: white;
  font-size: 1.5em;
}

.overlay .closebtn {
  color: white;
  font-size: 2em;
  position: absolute;
  right: 45px;
  top: 20px;
}

.menu span {
  display: none;
}

.front-text {
  color: white;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 60%;
  transform: translateY(-50%);
  width: 100%;
}

#heart {
  animation-name: heartBeat;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  color: #e0004d;
  font-size: 0.75em;
}

@keyframes heartBeat {
  0% {transform: scale(1);}
  25% {transform: scale(.97);}
  35% {transform: scale(.9);}
  45% {transform: scale(1.1);}
  55% {transform: scale(.9);}
  65% {transform: scale(1.03);}
  75% {transform: scale(1);}
}

/***About***/

#about {
  overflow: auto;
}

.about {
  margin: 40px auto 0px;
  width: 75%;
}

.about h3 {
  line-height: 1.2;
  margin: 10px auto;
  text-align: center;
}

.about p {
  margin: 10px 0px 0px;
  text-align: center;
}

#about-description a {
  text-decoration: underline;
}

/***Work***/

#work {
  overflow: auto;
}

.work {
  margin: auto;
  overflow: auto;
  text-align: center;
}

.work p {
  margin: 15px 0px;
}

#work-header {
  border-bottom: solid 4px black;
  margin: 25px auto 40px;
  padding: 5px;
  width: 8em;
}

.work-item {
  margin: auto;
  padding-bottom: 25px;
  width: 70%;
}

#work-image {
  width: 100%;
}

/***Services***/

#services {
  background-color: #f6f6f6;
  overflow: auto;
}

.service h3 {
  margin-bottom: 0px;
}

.services {
  margin: auto;
  width: 70%;
}

#services-header {
  border-bottom: solid 4px black;
  margin: 25px auto 40px;
  padding: 5px;
  width: 4em;
}

.service {
  padding-bottom: 25px;
  text-align: center;
}

.service-img {
  margin: auto;
  width: 50%;
}

/***Contact***/

#contact {
  clear: both;
  padding-bottom: 75px;
}

.contact-text h1 {
  margin: 5% auto 2px;
  text-align: center;
  width: 60%;
}

.contact-text h2 {
  margin: 0px auto 5px;
  text-align: center;
  width: 60%;
}

#contact-header {
  margin: 35px auto 20px;
  text-align: center;
  width: 70%;
}

form {
  margin: auto;
  padding-right: 7px;
  width: 70%;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

input {
  border: 1px solid #cfcfcf;
  color: #999999;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  font-style: italic;
  line-height: 3em;
  margin: 10px 0px;
  padding: 0px 0px 0px 5px;
}

#name {
  width: 100%;
}

#email {
  width: 100%;
}

#message {
  border-color: #cfcfcf;
  color: #999999;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  font-style: italic;
  line-height: 3em;
  margin: 10px 0px;
  padding: 0px 0px 0px 5px;
  width: 100%;
}

#submit {
  background-color: white;
  border: solid 4px #e0004d;
  color: #333333;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  margin: 10px auto;
  padding: 0px;
  text-align: center;
  width: 155px;
}

#button {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

/***Footer***/

footer {
  padding-bottom: 100px;
}

.social ul {
  left: 50%;
  padding: 0px;
  position: absolute;
  transform: translateX(-50%);
}

.social li {
  float: left;
  font-size: 1em;
  list-style-type: none;
  padding: 0px 10px;
}

/***LANDSCAPE STYLES***/

@media only screen and (min-width: 550px) {

  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 1.7em;
  }

  header {
    margin: auto;
    width: 95%;
  }

  header h3 {
    font-size: 1.7em;
  }

  .frontpage {
    background-image: url(../assets/img/sarah-photo.jpg);
    background-position: top center;
  }

  /***About***/

  .about {
    width: 70%;
  }

  #about-description {
    padding: 0px;
  }

  /***Work***/

  .work {
    padding-top: 1%;
  }

  .work h3 {
    margin-top: 0px;
  }

  #work-header {
    margin-bottom: 50px;
  }

  .work-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    padding-bottom: 50px;
    width: 80%;
  }

  .work-image {
    width: 45%;
  }

  .work-text {
    width: 45%;
  }

  .work-link {
    padding-top: 15px;
  }

/***Services***/

  .services {
    overflow: auto;
    padding-bottom: 35px;
    width: 90%;
  }

  .service h3 {
    font-size: 1.2em;
  }

  .service p {
    font-size: 0.9em;
  }

  #services-header {
    margin-bottom: 50px;
  }

  .service {
    float: left;
    padding: 0px 4%;
    width: 25%;
  }

  .service-img {
    width: 60%;
  }
}

/**TABLET STYLES***/

@media (min-width: 750px) {

  /***Home***/

  h1 {
    font-size: 7em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.7em;
  }

  p {
    font-size: 1em;
  }

  header h3 {
    font-size: 2.3em;
  }

  .menu span {
    display: inline;
    margin-right: 5px;
  }

  #bars {
    display: none;
  }

  .overlay-content a {
    color: white;
    font-size: 2.5em;
  }

  .overlay .closebtn {
    color: white;
    font-size: 4em;
    position: absolute;
    right: 45px;
    top: 20px;
  }

  /***About***/

  .about {
    width: 70%;
  }

  /***Work***/

  .work {
    padding-top: 25px;
  }

  #work-header {
    padding-bottom: 10px;
  }

  .work-item {
    padding-bottom: 50px;
  }

  .work-image {
    width: 45%;
  }

  .work-text {
    width: 45%;
  }

  /***Services***/

  .service h3 {
    font-size: 1.5em;
  }

  .service p {
    font-size: 1em;
  }

  #services-header {
    margin-top: 50px;
    padding-bottom: 10px;
  }

  .service-img {
    width: 60%;
  }

  .service-text {
    margin: auto;
    width: 90%;
  }

  /***Footer**/

  .social li {
    font-size: 1.3em;
  }
}

@media only screen and (device-width: 768px) {

  .frontpage {
    background-attachment: fixed;
    background-image: url(../assets/img/sarah-photo-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;
    overflow: hidden;
  }

  body {
      height:100%;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
  }
}

/***DESKTOP STYLES***/

@media (min-width: 1000px) {

  /***Home***/

  h1 {
    font-size: 8em;
  }

  p {
    font-size: 1.2em;
  }

  /***About***/

  #about {
    margin: auto;
    max-width: 1200px;
  }

  .about {
    padding-top: 20px;
    width: 60%;
  }

  .about p {
    margin: 25px 0px 0px;
  }

  /***Work***/

  #work {
    margin: auto;
    max-width: 1200px;
  }

  .work {
    margin: auto;
    max-width: 1200px;
    padding: 0px 0px 45px;
    width: 80%;
  }

  #work-header {
    margin: 45px auto 70px;
  }

  .work-item {
    display: block;
    padding-bottom: 0px;
    width: 50%;
  }

  #work-1 {
    float: left;
  }

  #work-2 {
    float: right;
  }

  .work-image {
    margin: auto;
    width: 80%;
  }

  .work-text {
    margin: auto;
    padding-top: 45px;
    width: 80%;
  }

  .work-link {
    font-size: 1.2em;
  }

  /***Services***/

  #services {
    margin: auto;
    padding-bottom: 45px;
  }

  .services {
    max-width: 1200px;
    padding-bottom: 0px;
    width: 80%;
  }

  .service h3 {
    font-size: 1.7em;
  }

  #services-header {
    font-size: 2.3em;
    margin: 45px auto 70px;
  }

  /***Contact***/

  #contact {
    margin: auto;
    max-width: 1200px;
    padding-bottom: 85px;
  }

  #contact-header {
    margin: 65px auto 50px;
  }

  #name {
    float: left;
    font-size: 1em;
    margin: 15px 0px;
    width: 47%;
  }

  #email {
    float: right;
    font-size: 1em;
    margin: 15px -7px 15px 0px;
    width: 47%;
  }

  #message {
    clear: both;
    font-size: 1em;
    margin: 15px 0px 25px;
  }

  #submit {
    font-size: 1.2em;
    width: 170px;
  }

  /***Footer***/

  .social li {
    font-size: 1.5em;
  }
}

  /***HOVER***/

  @media (min-width: 1025px) {

    a:hover {
      color: #e0004d;
    }

    nav li a:hover {
      color: white;
      opacity: 0.8;
    }

    .social li a:hover {
      color: #e0004d;
      -moz-transition: all .3s;
      -webkit-transition: all .3s;
      transition: all .3s;
    }

    #submit:hover {
      color: white;
      background-color: #e0004d;
      -moz-transition: all .3s;
      -webkit-transition: all .3s;
      transition: all .3s;
    }

  }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
