---
layout: default
---
<section>
  <img id="computer-image" src="/assets/img/computer-image.jpg" alt="computer-image"/>
  <p id="tagline">i bring beautiful designs to life with code.</p>
</section>
<section>
  <div class="work">
    <h1 id="work-header">Recent Work</h1>
    <a href="http://sarahkiddhubbard.com/roast.html">
      <div class="work-image" id="work-1">
        <h1 class="hover-text">Roast<br>Coffee</h1>
      </div>
    </a>
    <a href="http://sarahkiddhubbard.com/unplugged.html">
      <div class="work-image" id="work-2">
        <h1 class="hover-text">Unplugged</h1>
      </div>
    </a>
  </div>
</section>
