---
layout: default
---

<!-- <div class="home">

  <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div> -->

<div class="main">
  <div class="top">
      <div class="about">
        <a href="#about-text"><img src="assets/img/headshot-square.jpg" class="about-img" alt="headshot"/>
        <h1>about</h1></a>
      </div>
      <div class="blog">
        <a href="/blog"><img src="assets/img/desk-square.jpg" class="blog-img" alt="computer"/>
        <h1>blog</h1></a>
      </div>
  </div>
  <div class="bottom">
    <a href="#contact-text">
    <img src="assets/img/contact-square.jpg" class="contact-square-img" alt="phone"/>
    <img src="assets/img/contact-crop.jpg" class="contact-crop-img" alt="phone"/>
    <h1>contact</h1>
    </a>
  </div>
  <div class="written-content">
    <section id="about">
      <a name="about-text"></a>
      <h2>About</h2>
      <div class="col-1">
        <p>Hi, I'm Sarah, a 30-something physician and aspiring web developer. Welcome to my first website!
          After nine years practicing clinical medicine, I found myself ready to take on a new career challenge.
          Wanting to pursue my creative side a bit more, I went on the hunt for a career that was equal parts artistic
          and analytical. Months of research later, I found that perfect combination in front end development and took
          the leap from medicine to tech.
        </p>
        <p>
          In August 2016, I started self-teaching with the <a href="http://skillcrush.com" target="blank">Skillcrush</a> Front End
          Developer and Visual Designer blueprints. All the gory details of the learning process and the projects I've done are
          chronicled over on my <a href="/blog">blog</a>.
        </p>
      </div>
      <div class="col-2">
        <p>On a personal note, I'm married to a clever guy who also happens to be a developer. We have a couple of tiny humans
           who we attempt to parent together. My favorite things in life are traveling, summertime, long strolls, strong
           coffee and seasonal food with perfectly paired wine. I also hold a special place in my heart for
           <a href="http://realfoodandicecream.com" target="blank">ice cream</a>.
        </p>
        <p>
           I have quite a few Javascript lessons in the queue, but I hope to continue my learning on the job in the near future.
           If you are an employer and would like to chat, keep scrolling for my contact info!
        </p>
      </div>
        <a href="#top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
    </section>
    <section id="contact">
      <a name="contact-text"></a>
      <h2>Contact</h2>
      <h3>sarahjkidd@gmail.com</h3>
      <div class="social">
        <ul>
          <li><a href="https://www.linkedin.com/in/sarah-kidd-hubbard-506a0789?trk=hp-identity-name" target="blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="https://github.com/skiddhubbard/skiddhubbard.github.io" target="blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
          <!-- <li><a href="mailto:sarahjkidd@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li> -->
          <li><a href="https://twitter.com/skiddhubbard" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/skiddhubbard/" target="blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div>
        <a href="#top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
    </section>
  </div>
</div>
