---
layout: default
---
<section class="frontpage">
  <div id="nav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <nav class="overlay-content">
      <ul>
        <li><a href="#about" onclick="closeNav()">about</a></li>
        <li><a href="#work" onclick="closeNav()">projects</a></li>
        <li><a href="#services" onclick="closeNav()">services</a></li>
        <li><a href="#contact" onclick="closeNav()">contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="front-text">
    <h1>i <i class="fa fa-heart" aria-hidden="true" id="heart"></i> code.</h1>
  </div>
</section>
<section id="about">
  <div class="about">
    <h2>hey there, nice to meet you!</h2>
    <p id="about-description">i'm sarah - a developer who loves bringing beautiful designs to life on the web.
      in addition to code, my loves include my husband, our kids, summertime, strong coffee, and <a href="http://realfoodandicecream.com" target="_blank">good food</a>.
      i look forward to making your upcoming project a reality, but until then, keep browsing to see some of my recent work.</p>
  </div>
</section>
<section id="work">
  <div class="work">
    <h2 id="work-header">recent projects</h2>
    <a href="https://cdn.rawgit.com/skiddhubbard/roast-coffee-house/master/index.html" target="_blank">
      <div class="work-item" id="work-1">
        <div class="work-image">
          <img src="assets/img/roast-mockup-square.jpg" id="work-image"/>
        </div>
        <div class="work-text">
          <h3>roast coffee</h3>
          <p>a responsive site designed and developed for a coffee shop</p>
          <p class="work-link">view the site  <i class="fa fa-angle-right" aria-hidden="true"></i></p>
        </div>
      </div>
    </a>
    <a href="https://cdn.rawgit.com/skiddhubbard/unplugged/master/index.html" target="_blank">
      <div class="work-item" id="work-2">
        <div class="work-image">
          <img src="assets/img/unplugged-mockup-square.jpg" id="work-image"/>
        </div>
        <div class="work-text">
          <h3>unplugged</h3>
          <p>a music news &amp; and reviews site converted from photoshop to web</p>
          <p class="work-link">view the site  <i class="fa fa-angle-right" aria-hidden="true"></i></p>
        </div>
      </div>
    </a>
  </div>
</section>
<section id="services">
  <div class="services">
    <h2 id="services-header">services</h2>
    <div class="service">
      <img class="service-img" src="assets/img/responsive.png"/>
      <div class="service-text">
        <h3>responsive development</h3>
        <p>have design ready to go live on the web? i'll translate it into a pixel perfect match.</p>
      </div>
    </div>
    <div class="service">
      <img class="service-img" src="assets/img/wordpress.png"/>
      <div class="service-text">
        <h3>wordpress development</h3>
        <p>want a site that you can add content to? wordpress makes it simple! i can convert your existing site or build a new one.</p>
      </div>
    </div>
    <div class="service">
      <img class="service-img" src="assets/img/design.png">
      <div class="service-text">
        <h3>web<br>design</h3>
        <p>need a little help with your page layout? let's work together and create a site both you and your users love.</p>
      </div>
    </div>
  </div>
</section>
<section id="contact">
  <h3 id="contact-header">ready to get started on your project?</h3>
  <form action="https://formspree.io/sarahjkidd@gmail.com" method="post">
    <input id="name" type="text" name="name" placeholder="name">
    <input id="email" type="email" name="email" placeholder="email address"><br>
    <textarea id="message" type="text" name="message" rows="3" placeholder="a little info about your project"></textarea><br>
    <div id="button"><input id="submit" type="submit" value="let's create!"></div>
  </form>
</section>
